$dark-grey-blue: #323264;
$dark-violet: #46466E;
$blue-grey: #686887;
$red-pink: #F0145A;
$white: #fff;
$black: #000;
$dark-grey: #323232;
$very-light-grey: #F5F5FA;
$light-grey:#EDEDF7;
$grey: #B3B3BA;
$middle-grey:#E6E6F0;
$blue:#0085FF;
$dark-blue:#006CCF;
$light-blue:#24A3FF;
//sass scss

/*---------Colors---------*/

$color-main: $dark-grey-blue;
$color-main-alt: $dark-violet;
$color-main-soft: $blue-grey;
$color-accent: $red-pink;
$link-reg-color: $blue;
$link-hover-color: $light-blue;
$link-active-color: $dark-blue;
$light-grey-bgcolor: $very-light-grey;
$grey-alt-bgcolor: $light-grey;
$grey-text-color: $dark-grey;
$alt-text-color: $black;
$main-text-color: $white;
$grey-separator-color: $middle-grey;

/*-------Gradients-----------*/

$gradient-regular: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-solf: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient-red: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
$gradient-supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradient-redtext: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);

/*-------Fonts -----------*/

$main-font: 400 16px/26px'Montserrat',
sans-serif;
$h1: 700 38px/46px'Montserrat',
sans-serif;
$h2: 700 30px/36px'Montserrat',
sans-serif;
$h3: 700 22px/26px'Montserrat',
sans-serif;
$h4: 700 16px/20px 'Montserrat',
sans-serif;
$p:400 16px/20px 'Montserrat',
sans-serif;
$fullpage-link:700 14px/18px 'Montserrat',
sans-serif;

/*------------------*/

$primary-fontfamily:'Montserrat',
sans-serif;
$bold:700;
$regular:400;